/*global start reset*/
body {
	margin:0;
	padding:0;
	font-family:"Microsoft YaHei";
	/*cursor:url(../images/pointer.cur),url(/resource/images/pointer.cur), url(../images/pointer.ico), url(../images/pointer.png), auto;*/
	-webkit-text-size-adjust: none;
}
ul, ol, li {
	list-style:none;
	margin:0;
	padding:0;
}
p, input, button,table, tr, th, td, thead, tbody ,pre,textarea{
	padding:0;
	margin:0;
	font-family:"Microsoft YaHei";
}
h1, h2, h3, h4, h5, blockquote, dl, dt, dd {
	margin:0;
	padding:0;
	font-weight:normal;
}
em, cite, i{font-style:normal;}
img{border:none;}
a {
	text-decoration:none;
	color:#666;
}
a:hover{color:#007ad5;}
.clr {
	clear:both;
}
.fixedbox {
	width:1200px;
	margin:0 auto;
}
.noboder{border:0 !important;}
.nomargin{margin:0 !important;}

