/*global start reset*/
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  /*cursor:url(../images/pointer.cur),url(/resource/images/pointer.cur), url(../images/pointer.ico), url(../images/pointer.png), auto;*/

  -webkit-text-size-adjust: none;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p,
input,
button,
table,
tr,
th,
td,
thead,
tbody,
pre,
textarea {
  padding: 0;
  margin: 0;
  font-family: "Microsoft YaHei";
}
h1,
h2,
h3,
h4,
h5,
blockquote,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
em,
cite,
i {
  font-style: normal;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  color: #007ad5;
}
.clr {
  clear: both;
}
.fixedbox {
  width: 1200px;
  margin: 0 auto;
}
.noboder {
  border: 0 !important;
}
.nomargin {
  margin: 0 !important;
}
/*game begin sence*/
button.btn_start {
  display: inline-block;
  width: 300px;
  position: relative;
  left: 330px;
  top: 320px;
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font: bold 20px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  -webkit-background-clip: padding-box;
}
button.btn_start:hover {
  -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  cursor: pointer;
}
button.btn_start:active {
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
  margin-top: 6px;
}
#container {
  width: 960px;
  height: 640px;
  margin: 0 auto;
  position: relative;
  border: 1px solid #000;
}
.game-begin {
  background: url(../images/bg.png);
  height: 640px;
}
