@import "global.less";
/*game begin sence*/

button.btn_start {
  border-radius:6px;
  background:#d16464;
  border:none;
  line-height:48px;
  padding:0 30px;
  font-size:18px;
  color:#fff;
  font-weight:bold;
  box-shadow:0 3px 0px #a73e3e;
  display:block;
  margin:0 auto;
  cursor:pointer;
  position:relative;
  top:100px;
  &:hover{
    background:#e16d6d;
  }
  &:active{
    background:#a73e3e;
    margin-top:3px;
    box-shadow:none;
  }
}
#container{
  width:960px;
  height:640px;
  margin:0 auto;
  position:relative;
  border:1px solid #000;
}
.sence{
  width:960px;
  height:640px;
  position: absolute;
  left:0;
  top:0;
}

.game-begin{
  background:url(../images/bg.png);
  height:640px;
}
#gamename{
  text-align:center;
  color:#fff;
  padding-top:100px;
  font-size:72px;
}
.progressbar{
  height:4px;
  padding:2px;
  width:300px;
  background:#ccc;
  position:relative;
  top:20px;
  background:rgba(255, 255, 255, .5);
  border-radius:4px;
  margin:0 auto;
}
.progressbar .bar{
  width:100%;
  height:100%;
  background:#fff;
  border-radius:3px;
}
.game-main-view .atk{
  position:absolute;
  top:10px;
  left:10px;
  width:120px;
  height:30px;
  background:#e16d6d;
  color:#fff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}